@import 'variables';
@import 'mixins';
/*--------------------------------------------------
Game Area
--------------------------------------------------*/

.game-area {
    min-height: 100%;
    width: 100vw;
    display: flex;
    color: #000;
    position: relative;
    z-index: 3;
    min-height: var(--app-height);
    .game {
        position: relative;
        z-index: 1;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        @include md {
            flex: 0 0 100vw;
            overflow: hidden;
        }
    }
    .hint {
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
        @include xs {
            right: 0;
        }
        div {
            position: absolute;
            top: 20px;
            left: 24px;
            transform-origin: left top;
            padding-left: 24px;
            transform: rotate(90deg);
            white-space: nowrap;
            overflow: hidden;
            @include xs {
                font-size: 13px;
                padding-top: 3px;
            }
            span {
                display: inline-block;
                opacity: 0;
                transform: translateX(-110%);
                transition: all .6s $smooth;
            }
        }
        &:hover {
            div {
                span {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}