@import 'variables';
@import 'mixins';
/*--------------------------------------------------
Game 1
--------------------------------------------------*/

#game-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 100px 0;
    max-width: 100vw;
    @include lg {
        padding: 50px 0;
    }
    @include md {
        padding: 20px 0;
    }
    @include sm {
        padding: 0 0;
    }
    @include xs {
        height: 500px;
    }
    main {
        padding: 10px;
        position: relative;
        display: flex;
        align-content: flex-start;
        align-items: flex-start;
        user-select: none;
        flex-wrap: wrap;
        @include lg {
            transform: scale(.8);
        }
        @include md {
            transform: scale(.7);
        }
        @include sm {
            transform: scale(.6);
        }
        @include xs {
            transform: scale(.5);
            width: 422px;
        }
        @include xxs {
            transform: scale(.5) translateX(10%);
        }
        @media (max-width: 320px) {
            transform: scale(.5) translateX(20%);
        }
        .game-hint {
            position: absolute;
            z-index: -1;
            top: 148px;
            left: -23px;
            pointer-events: none;
            opacity: 0;
        }
        .cols {
            position: absolute;
            z-index: 1;
            top: -20px;
            left: 160px;
            transform-origin: 0 0;
            transform: rotate(90deg);
            width: 610px;
        }
    }
    .fix {
        flex: 0 0 100%;
        width: 100%;
        height: 160px;
    }
    .zone {
        position: relative;
        min-width: 110px;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #pool {
        margin-right: 90px;
    }
    #drop {
        margin-top: -170px;
        width: 200px;
    }
    .tile,
    .fix-tile {
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0;
        left: 0;
        &.dragging {
            img {
                cursor: grabbing !important;
            }
        }
        img {
            width: auto;
            height: auto;
            max-width: none;
            transform: translate(-9px, -15px);
            cursor: grab !important;
            &.triangle {
                transform: translate(-33px, -21px);
            }
        }
    }
    h3 {
        color: #555;
        position: relative;
        z-index: 9999999;
        pointer-events: none;
        text-shadow: 1px 1px 0px #fafafa, -1px -1px 0px #fafafa, 1px -1px 0px #fafafa, -1px 1px 0px #fafafa;
    }
}