@import 'variables';
@import 'mixins';
/*--------------------------------------------------
Game 3
--------------------------------------------------*/

#game-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-width: 100vw;
    width: 50vw;
    @include md {
        width: 100vw;
        min-height: var(--app-height);
        height: 1000px;
    }
    @include sm {
        height: 800px;
    }
    @include xs {
        height: 700px;
    }
    @include xxs {
        height: 200px;
    }
    main {
        padding: 100px 0;
        transform-origin: 0 0;
        min-height: var(--app-height);
        @include xl {
            transform: scale(.8) translate(10%);
        }
        @include lg {
            transform: scale(.7) translate(20%);
        }
        @include md {
            transform: scale(1);
        }
        @include sm {
            transform: scale(.8) translate(15%);
        }
        @include xs {
            transform: scale(.7) translate(22.5%);
        }
        @include xxs {
            transform: scale(.4) translate(75%);
        }
        @media (max-width: 320px) {
            transform: scale(.35) translate(95%);
        }
    }
    .tangram {
        user-select: none;
        padding: 30px;
        svg {
            fill: #fff;
            stroke: #000;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
            stroke-width: 8px;
            transform-origin: 0 0;
        }
        &-drag-top,
        &-drag-bottom {
            position: relative;
            z-index: 5;
            display: flex;
            justify-content: space-around;
            width: 770px;
            padding: 30px 0;
        }
        &-drop {
            border: 1px solid #ddd;
            width: 280px;
            height: 280px;
            margin: 0 auto;
            position: relative;
            z-index: 5;
        }
    }
    .draggable {
        position: relative;
        z-index: 2;
        cursor: grab !important;
        transform-origin: 0 0;
        margin: 0 20px 20px 0;
        &-7 {
            z-index: -1;
        }
        @include xxs {
            margin: 0;
        }
    }
    .droppable {
        position: absolute;
        z-index: 1;
        opacity: 0;
        &-1 {
            top: 0;
            left: 2px;
        }
        &-2 {
            top: 0px;
            left: 73px;
        }
        &-3 {
            top: 0;
            left: 134px;
        }
        &-4 {
            top: 5px;
            left: 138px;
        }
        &-5 {
            top: 75px;
            left: 9px;
        }
        &-6 {
            top: 131px;
            left: 1px
        }
        &-7 {
            top: 68px;
            left: 68px;
            z-index: -1;
        }
        &-8 {
            top: 154px;
            left: 2px;
        }
    }
    .dragging {
        cursor: grabbing !important;
    }
}