@import 'variables';
@import 'mixins';
/*--------------------------------------------------
Game Area
--------------------------------------------------*/

.game-area {
    min-height: 100%;
    width: 100vw;
    display: flex;
    color: #000;
    position: relative;
    z-index: 3;
    min-height: var(--app-height);
    .well-done {
        background: #fff;
        width: 50vw;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        transform: translateX(100%);
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        transition: transform .5s $smooth;
        &.active {
            transform: translate(0);
        }
        @include md {
            width: 100%;
            left: 0;
            top: 0;
            transform: translate(0, 100%);
            z-index: 10;
            background: #181617;
            color: #fff;
        }
    }
    .game {
        position: relative;
        z-index: 2;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        @include md {
            flex: 0 0 100vw;
            overflow: hidden;
        }
    }
    .hint {
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
        @include xs {
            right: 0;
        }
        div {
            position: absolute;
            top: 20px;
            left: 24px;
            transform-origin: left top;
            padding-left: 24px;
            transform: rotate(90deg);
            white-space: nowrap;
            overflow: hidden;
            @include xs {
                font-size: 13px;
                padding-top: 3px;
            }
            span {
                display: inline-block;
                opacity: 0;
                transform: translateX(-110%);
                transition: all .6s $smooth;
            }
        }
        &:hover {
            div {
                span {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}